@use "./variable" as *;

.nav {
  display: flex;
  font-family: "Overpass", sans-serif;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: #870d0a;
  color: white;

  &__header {
    font-family: "GOTR";
  }

  &__checkboxes {
    display: flex;
    justify-content: space-between;
    width: 30vw;
  }
}
